/.metadata/
/*/*/target/
/image/
/deployment/
/.git/
/.metadata/
/.recommenders/
/.sonarlint/
/.vs/
README.md
/*/*/.settings/
/*/*/.gitignore
/*/*/.classpath
/*/*/.project
/docker_image/*/*.*.war
.idea/
